*{
    outline: 1px solid red;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.canvas{
    display:flex;
    flex-direction: column;
    /* width:400px; */
    outline: 8px solid brown;
    border-radius: 6px;

}
.display{
    font-size: 48px;
    text-align: end;
}
#clear {
    display:flex;
    align-items: center;
    justify-content: center;
    width:240px;
    height:80px;
    font-size: 20px;
}
.numbers{
    display:flex;
    flex-wrap: wrap;
    align-items: end;
    align-content: end;
    width:240px;
}
.operators {
    display:flex;
    flex-wrap: wrap;
    width:80px;
}

button {
    width:80px;
    height:80px;
}
.inputs{
    display: flex;
}
#_0{
    flex-grow: 1;
    /* background-color: red; */
}